<head>
  <title>{{ site.title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="{{ 'assets/images/site-image.png' | relative_url }}">
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="{{ 'assets/css/main.min.css' | relative_url }}">
  <link rel="shortcut icon" href="{{ 'assets/images/gi-favicon.png' | relative_url }}" type="image/x-icon">
</head>