// Colour Palette 1

$primary-color: #38312d;
$secondary-color: #e9e2d7;
$accent-color: #483e8e;

// Colour Palette 2

// $primary-color: #5c3b2b;
// $secondary-color: #f7d6b3;
// $accent-color: #a5684c;

$black: #000;
$white: #fff;

$light: #f8f8f8;
$dark: #0a0a0a;
