// Colour Palette 1

// $primary-color: #29373c;
// $secondary-color: #e9e2d7;
// // $secondary-color: lighten($primary-color, 70);
// $accent-color: #cc2131;

// Colour Palette 2

// $primary-color: #5c3b2b;
// $secondary-color: #f7d6b3;
// $accent-color: #a5684c;

// Colour Palette 3

// $primary-color: #3c2a65;
// $secondary-color: #e6d7fa;
// $accent-color: #a471a4;

// Colour Palette 4

// $primary-color: #1e44a7;
// $secondary-color: #dddefb;
// $accent-color: #6c86de;

// Colour Palette 5

$primary-color: #303131;
$secondary-color: #e1d5e7;
$accent-color: #ea922f;
$tertiary-color: #a3b3d7;

$black: #000;
$white: #fff;

$light: #f8f8f8;
$dark: #0a0a0a;
