@import "normalize.css";
@import "colors.scss";
@import "fonts.scss";

/* Globals */

body {
    background: $secondary-color;
    color: $primary-color;
    font-family: "Source Serif 4", serif;
    line-height: 2;
    text-rendering: optimizeLegibility;
}

main,
footer {
    padding: 1rem;
}

a {
    background: $secondary-color;
    border-radius: 4px;
    // color: $accent-color;
    color: $primary-color;
    margin: 0 .125rem;
    padding: .125em .25em;
    text-decoration: none;

    &:hover {
        background: $accent-color;
        color: $light;
    }
}

// Headings
h1, h2, h3,
h4, h5, h6 {
    font-family: "Poiret One", sans-serif;
}

/* Header */

.logo {
    font-family: "Poiret One", sans-serif;
    font-size: 36px;

    a { 
        display: inline-block;
    }
}

/* Navigation */

nav {
    background: $primary-color;
    color: $secondary-color;

    .collapsible-menu {
        label {
            cursor: pointer;
            display: block;
            padding: 1rem;

            svg {
                fill: $secondary-color;
                padding-right: .5rem;
                vertical-align: middle;
            }
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }

    input {
        &#main-nav {
            display: none;
        }

        &:checked {
            & + label {
                // Style for the label once the menu is expanded
            }

            & ~ .main-nav-content {
                max-height: 100%;
            }
        }
    }

    .main-nav-content {
        max-height: 0;
        overflow: hidden;
    }

    .menu-item {
        border-radius: 0;
        border-bottom: 1px solid lighten($primary-color, 50);
        display: block;
        padding: .5rem 1rem .5rem 2.75rem;  
    }
}

/* Main */

/* Footer */

footer {
    background: $primary-color;
    color: $secondary-color;
}